.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    background-color: burlywood;
}

.page-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    background-color: rgb(98, 177, 98);   
}

.options-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    background-color: burlywood;
}

.flex-box {
    flex: 1;
    padding: 15px;
    border: 1px solid #ddd;
    margin: 10px;
    justify-content: center;
    background-color: bisque;
}

.page-item {
    flex: 1;
    padding: 15px;
    border: 1px solid #ddd;
    margin: 10px;
    justify-content: center;
    background-color: rgb(118, 180, 137);
}

.no-bullets {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(145, 180, 140);
    font-family: Arial, Helvetica, sans-serif;
}


